* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.5s;
    color: white;
    margin-left: 5px;
    height: 30px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

body {
    margin: 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #8a8a8a;
}

.table-header,
th {
    background-color: rgb(184, 184, 184);
    border: 1px solid #8a8a8a;
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid #8a8a8a;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: rgb(236, 236, 236);
}

.read-btn {
    background-color: rgb(1, 124, 1);
    border-color: rgb(67, 161, 67);
}

.update-btn {
    background-color: rgb(0, 0, 187);
    border-color: rgb(76, 76, 235);
}

.delete-btn {
    background-color: rgb(192, 2, 2);
    border-color: rgb(218, 73, 73);
}

.add-book-btn {
    margin-top: 5px;
    background-color: rgb(148, 74, 190);
    border-color: rgb(183, 130, 214);
}