* {
    box-sizing: border-box;
}

.title {
    text-align: center;
    color: rgb(255, 140, 0);
}

button {
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.5s;
    color: white;
    margin-left: 5px;
    height: 30px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

body {
    overflow: hidden;
    margin: 50px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: peachpuff;
    background-image: linear-gradient(180deg, #000000 0%, #5f5f5f 35%, #ffffff 100%);
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #8a8a8a;
}

.table-header,
th {
    background-color: rgb(184, 184, 184);
    border: 1px solid #8a8a8a;
    text-align: left;
    padding: 8px;
    cursor: pointer;
}

td {
    border: 1px solid #8a8a8a;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: rgb(236, 236, 236);
}

tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.read-btn {
    background-color: rgb(1, 124, 1);
    border-color: rgb(67, 161, 67);
}

.update-btn {
    background-color: rgb(0, 0, 187);
    border-color: rgb(76, 76, 235);
}

.delete-btn {
    background-color: rgb(192, 2, 2);
    border-color: rgb(218, 73, 73);
}

.add-book-btn {
    position: relative;
    align-self: center;
    margin-top: 5px;
    width: 30vw;
    background-color: rgb(148, 74, 190);
    border-color: rgb(78, 38, 100);
}

.book-modal {
    margin-top: 2vw;
    padding: 2vw;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    max-width: 400px;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.0);
    transition: left 0.5s ease-in-out, opacity 0.2s ease-in-out, background-color 0.5s ease-in-out;
    border-radius: 8px;
}

.close-btn {
    width: 190px;
    background-color: red;
}

.book-modal.active {
    display: block;
    left: 70%;

    background-color: rgba(0, 0, 0, 0.8);
}

/* .search-container {} */

.search-field {
    margin-bottom: 5px;
    width: 30vw;
}

.clear-btn {
    position: relative;
    right: 8px;
    width: 50px;
    height: 22px;
    color: black;
    background-color: #b1b1b1;
    border-radius: 0;
}

.success-msg {
    z-index: 1;
    display: none;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(0, 73, 0);
    color: white;
    border-radius: 8px;
    animation: fadeInOut 1.5s forwards;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #a8a8a84d;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #29292960;
}

.no-books-msg {
    text-align: center;
    padding: 20px;
    font-size: 28px;
    color: #c7c7c7;
}

.red {
    color: red;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
}

.prev-btn {
    background-color: rgb(255, 140, 0);
    border-color: rgb(255, 181, 90);
}

.next-btn {
    background-color: rgb(255, 140, 0);
    border-color: rgb(255, 181, 90);
}